* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
  outline: none;
}
